# Git

.git
.gitignore
.gitattributes

# Python

**pycache**
_.pyc
_.pyo
_.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage._
.cache
nosetests.xml
coverage.xml
_.cover
_.log
.venv
venv/

# OS

.DS*Store
.DS_Store?
.*\*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE

.vscode
.idea
_.swp
_.swo
\*~

# Documentation

README.md
LICENSE

# App Runner specific

apprunner.yaml
